/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/screen.scss */
body {
  font-size: 12px;
  font-family: Verdana;
}

/* line 14, ../sass/screen.scss */
.step h2 {
  font-size: 30px;
}
/* line 17, ../sass/screen.scss */
.step p {
  font-size: 12px;
}

/* line 23, ../sass/screen.scss */
.employee-details label {
  display: block;
}
/* line 25, ../sass/screen.scss */
.employee-details label input {
  display: block;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #000;
  width: 200px;
}

/* line 35, ../sass/screen.scss */
.instructions {
  list-style: none;
  padding: 0;
}
/* line 38, ../sass/screen.scss */
.instructions li {
  display: block;
  padding: 0;
  margin: 0;
  clear: both;
  overflow: hidden;
  border-bottom: solid 1px #000;
}
/* line 45, ../sass/screen.scss */
.instructions li header {
  margin: 30px 0;
  display: block;
  overflow: hidden;
  cursor: pointer;
}
/* line 50, ../sass/screen.scss */
.instructions li header .logo {
  float: left;
}
/* line 53, ../sass/screen.scss */
.instructions li header .name {
  float: left;
  height: 50px;
  line-height: 50px;
  margin-left: 20px;
}
/* line 59, ../sass/screen.scss */
.instructions li header a {
  display: block;
  overflow: hidden;
  text-decoration: none;
  margin-top: 5px;
}
/* line 67, ../sass/screen.scss */
.instructions li .image {
  float: left;
  display: block;
  margin-right: 5px;
}
/* line 71, ../sass/screen.scss */
.instructions li .image img {
  display: block;
}
/* line 74, ../sass/screen.scss */
.instructions li .image span {
  display: block;
  background-color: #000;
  color: #fff;
  padding: 4px;
}
/* line 81, ../sass/screen.scss */
.instructions li.open {
  height: auto;
}
/* line 84, ../sass/screen.scss */
.instructions li.closed {
  height: 70px;
}
/* line 86, ../sass/screen.scss */
.instructions li.closed a:hover {
  margin-top: 0px;
}

/* line 95, ../sass/screen.scss */
.signature {
  padding: 20px;
  border: solid 1px #000;
  border-radius: 4px;
}
