/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";

body{
  font-size:12px;
  font-family: Verdana;
}

.step{
  h2{
    font-size:30px;
  }
  p{
    font-size:12px;
  }
}

.employee-details{
  label{
    display: block;
    input{
      display:block;
      padding:5px;
      border-radius: 4px;
      border:1px solid #000;
      width:200px;
    }
  }
}

.instructions{
  list-style: none;
  padding:0;
  li{
    display: block;
    padding: 0;
    margin: 0;
    clear: both;
    overflow: hidden;
    border-bottom: solid 1px #000;
    header{
      margin:30px 0;
      display:block;
      overflow:hidden;
      cursor:pointer;
      .logo{
        float:left;
      }
      .name{
        float: left;
        height: 50px;
        line-height: 50px;
        margin-left:20px;
      }
      a{
        display:block;
        overflow: hidden;
        text-decoration: none;
        margin-top: 5px;
      }
    }

    .image{
      float:left;
      display:block;
      margin-right: 5px;
      img{
        display:block;
      }
      span{
        display:block;
        background-color:#000;
        color:#fff;
        padding:4px;
      }
    }
    &.open{
      height:auto;
    }
    &.closed{
      height:70px;
      a:hover{
        margin-top: 0px;
      }
    }
  }
}



.signature{
  padding:20px;
  border:solid 1px #000;
  border-radius: 4px;
}